*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    display: grid;
    grid-template-rows: 20vh 200vh;
}

nav{
    display: grid;
    grid-template-columns: 20% 40% 20%;
    align-content: center;
    justify-content: space-evenly;
    background-color: white;
    height: 20vh;
}

.div{
    display: grid;
    align-content: center;
    justify-content: center;
}

.div img{
    height: 8vh;
    width: 100%;
}

nav ul{
    display: grid;
    grid-template-columns: 10% 10% 15% 10% 20%;
    align-content: center;
    justify-content: space-evenly;
}

nav ul li a{
    color: #4e4e4e;
    font-weight: bold;
}

.list{
    position: absolute;
    height: 43vh;
    width: 16%;
    top: 200px;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 2px solid #FF3271;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

nav ul li:nth-child(1):hover .l1{
    top: 80px;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s;
}

.list ol {
    display: grid;
    align-content: space-around;
}

.list ol li{
    border-bottom: 0.5px solid #8a8989;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #4e4e4e;
    font-weight: bold;
    cursor: pointer;
}   

.l2{
    opacity: 0;
    z-index: -1;
    height: 40vh;
    width: 100%;
    left: 100%;
    top: 120%;
    transition: all 0.5s;
}

.l1 ol li:nth-child(6):hover .l2{
    opacity: 1;
    top: 80%;
    transition: all 0.5s;
}

.l3{
    top: 200px;
    height: 13vh;
    opacity: 0;
    z-index: -1;
}

nav ul li:nth-child(2):hover .l3{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.l4{
    opacity: 0;
    top: 200px;
    height: 35vh;
    z-index: -1;
    width: 18%;
}

nav ul li:nth-child(3):hover .l4{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.l5{
    opacity: 0;
    top: 200px;
    width: 14%;
    height: 35vh;
    z-index: -1;
}

nav ul li:nth-child(4):hover .l5{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.icons{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
}

.icons i{
    background-color: #FF3271;
    padding: 10px 10px; 
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    transition: all 0.5s;
}

.icons i:hover{cursor: pointer;transform: rotate(360deg);transition-duration: 0.5s;}

.gallery{
    display: grid;
    height: 300vh;
    grid-template-columns:repeat(4,25%);
    grid-template-rows:repeat(6,50vh);
    transition: all 0.5s;
    overflow: hidden;
}

.gallery img{
    height: 100%;
    width: 100%;
    transition: all 0.5s;
}

.photo{
    overflow: hidden;
    position: relative;
    overflow: hidden;
}

.photo img{
    position: absolute;
    transition: all 0.5s;
}

.photo:hover img{
    transform: rotate(-7deg) scale(1.2);
}

.pic{
    grid-area: 1/1/3/3;
    position: relative;
    overflow: hidden;
}

.border-up{
    position: absolute;
    height: 50vh;
    width: 35vw;
    border-top: 1px solid white;
    border-right: 1px solid white;
    top: 3%;
    left: 26%;
}

.border-down{
    position: absolute;
    height: 50vh;
    width: 35vw;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    top: 47%;
    left: 3%;
}

.pic h1{
    position: absolute;
    top: 47%;
    color: #FF3271;
    text-transform: capitalize;
    left: 8%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 3rem;
    transition: all 0.5s;
}

.pic h1:hover{
    color: white;
    cursor: pointer;
}

.pic button{
    top: 65%;
    left: 8%;
    position: absolute;
    height: 10vh;
    width: 22%;
    border: none;
    background-color: #FF3271;
    color: white;
    text-transform: capitalize;
    font-weight: lighter;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all 0.5s;
}

.pic button:hover{
    color: #FF3271;
    border: 1px solid #FF3271;
    background-color: transparent;
    cursor: pointer;
}

.left{
    position: absolute;
    width: 50%;
    height: 11vh;
    background-color: #FF3271;
    top: 40%;
    border-radius: 2px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.5s;
}

.photo:hover .left{
    transform: translateX(0%);
    opacity: 1;
}

.left i{
    background-color: white;
    color: #FF3271;
    padding: 10px;
    border-radius: 3px;
}

.right{
    position: absolute;
    width: 50%;
    height: 11vh;
    background-color: black;
    top: 40%;
    border-radius: 2px;
    left: 50%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    transform: translateX(100%);
    opacity: 0;
    transition: all 0.5s;
}

.photo:hover .right{
    transform: translateX(0%);
    opacity: 1;
}

.right i{
    background-color: white;
    color: #FF3271;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.5s;
}

.left i:hover{
    background-color: #FF3271;
    color: white;
    cursor: pointer;
}

.right i:hover{
    background-color: #FF3271;
    color: white;
    cursor: pointer;
}

.left i{
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s;
}

.right i{
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.5s;
}

.photo:hover i{
    transform: translateY(0%);
    opacity: 1;
}

.pic-7{
    grid-area: 3/3/4/5;
}

.pic-8{
    grid-area: 4/1/5/3;
}

.pic-13{
    grid-area: 5/3/5/5;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.over-text{
    position: absolute;
    height: 80%;
    width: 80%;
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7));
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
    justify-items: flex-end;
}

.pic-2 h1{
    position: absolute;
    color: white;
    top: 40%;
    left: 25%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
}

.pic-10 h1{
    position: absolute;
    color: white;
    top: 40%;
    left: 20%;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 2rem;
}

.footer{
    display: grid;
    grid-area: 6/2/6/4;
    grid-template-rows: 10vh 10vh 10vh;
    align-content: center;
    justify-content: center;
    height: 50vh;
    grid-gap: 10px;
}

.logo{
    display: grid;
    align-content: center;
    justify-items: center;
}

.logo img{
    height: 5vh;
    width: 30%;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon i{
    background-color: #FF3271;
    padding: 10px 10px; 
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    transition: all 0.5s;
}

.icon i:hover{cursor: pointer;transform: rotate(360deg);transition-duration: 0.5s;}


.footer p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}