*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    display: grid;
    grid-template-rows: 20vh 70vh 300vh 50vh;
}

nav{
    display: grid;
    grid-template-columns: 20% 20% 40%;
    align-content: center;
    justify-content: space-evenly;
    background-color: white;
    height: 20vh;
}

.div{
    display: grid;
    align-content: center;
    justify-content: center;
}

.div img{
    height: 8vh;
    width: 100%;
}

nav ul{
    display: grid;
    grid-template-columns: 10% 10% 15% 10% 20%;
    align-content: center;
    justify-content: space-evenly;
}

nav ul li a{
    color: #4e4e4e;
    font-weight: bold;
}

.list{
    position: absolute;
    height: 43vh;
    width: 16%;
    top: 200px;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 2px solid #FF3271;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

nav ul li:nth-child(1):hover .l1{
    top: 80px;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s;
}

.list ol {
    display: grid;
    align-content: space-around;
}

.list ol li{
    border-bottom: 0.5px solid #8a8989;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #4e4e4e;
    font-weight: bold;
    cursor: pointer;
}   

.l2{
    opacity: 0;
    z-index: -1;
    height: 40vh;
    width: 100%;
    left: 100%;
    top: 120%;
    transition: all 0.5s;
}

.l1 ol li:nth-child(6):hover .l2{
    opacity: 1;
    top: 80%;
    transition: all 0.5s;
}

.l3{
    top: 200px;
    height: 13vh;
    opacity: 0;
    z-index: -1;
}

nav ul li:nth-child(2):hover .l3{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.l4{
    opacity: 0;
    top: 200px;
    height: 35vh;
    z-index: -1;
    width: 18%;
}

nav ul li:nth-child(3):hover .l4{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.l5{
    opacity: 0;
    top: 200px;
    width: 14%;
    height: 35vh;
    z-index: -1;
}

nav ul li:nth-child(4):hover .l5{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.icons{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
}

.icons i{
    background-color: #FF3271;
    padding: 10px 10px; 
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    transition: all 0.5s;
}

.icons i:hover{cursor: pointer;transform: rotate(360deg);transition-duration: 0.5s;}

.p1{
   height: 70vh;
   background-color: #FAFAFA;
   position: relative;
}

.circle{
    height: 26vh;
    width: 13%;
    background-color: rgba(255, 233, 145,0.9);
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 35%;
}

.p1 h1{
    color: #333333;
    position: absolute;
    font-weight: bold;
    font-size: 4rem;
    top: 29%;
    left: 39%;
}

.p2{
    display: grid;
    grid-template-columns: 60% 40%;
}

.left-side{
    display: grid;
    justify-content: space-evenly;
    height: 30%;
}

.left-side h1{
    color: #333333;
    font-size: 2rem;
}

.left-side p{
    font-size: 1.09rem;
    color: #8a8989;
    line-height: 25px;
}

.left-side ul{
    display: grid;
}

.left-side ul li{
    color: #8a8989;
    border-bottom: 0.5px solid #8a8989;
    padding-bottom: 10px;
    padding-top: 10px;
}

.left-side ul li span{
    color: #333333;
}

.right-side{
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    flex-wrap: wrap;
    line-height: 100px;
    background-color: #F4F9FF;
}

.logo{
    display: flex;
    height: 10vh;
    width: 63%;
    align-items: center;
    justify-content: space-evenly;
}

.logo img{
    height: 5vh;
    width: 30%;
}

.footer p{
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon i{
    background-color: #FF3271;
    padding: 10px 10px; 
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    transition: all 0.5s;
}

.icon i:hover{cursor: pointer;transform: rotate(360deg);transition-duration: 0.5s;}