*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    display: grid;
    grid-template-rows: 20vh 80vh 300vh 100vh 30vh 30vh;
}

nav{
    display: grid;
    grid-template-columns: 20% 40% 20%;
    align-content: center;
    justify-content: space-evenly;
    background-color: white;
    height: 20vh;
}

.div{
    display: grid;
    align-content: center;
    justify-content: center;
}

.div img{
    height: 8vh;
    width: 100%;
}

nav ul{
    display: grid;
    grid-template-columns: 10% 10% 15% 10% 20%;
    align-content: center;
    justify-content: space-evenly;
}

nav ul li a{
    color: #4e4e4e;
    font-weight: bold;
}

.list{
    position: absolute;
    height: 43vh;
    width: 16%;
    top: 200px;
    display: grid;
    align-content: space-around;
    justify-content: space-evenly;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border: 2px solid #FF3271;
    background-color: white;
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
}

nav ul li:nth-child(1):hover .l1{
    top: 80px;
    opacity: 1;
    z-index: 1;
    transition: all 0.5s;
}

.list ol {
    display: grid;
    align-content: space-around;
}

.list ol li{
    border-bottom: 0.5px solid #8a8989;
    padding-bottom: 10px;
    padding-left: 10px;
    color: #4e4e4e;
    font-weight: bold;
    cursor: pointer;
}   

.l2{
    opacity: 0;
    z-index: -1;
    height: 40vh;
    width: 100%;
    left: 100%;
    top: 120%;
    transition: all 0.5s;
}

.l1 ol li:nth-child(6):hover .l2{
    opacity: 1;
    top: 80%;
    transition: all 0.5s;
}

.l3{
    top: 200px;
    height: 13vh;
    opacity: 0;
    z-index: -1;
}

nav ul li:nth-child(2):hover .l3{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.l4{
    opacity: 0;
    top: 200px;
    height: 35vh;
    z-index: -1;
    width: 18%;
}

nav ul li:nth-child(3):hover .l4{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.l5{
    opacity: 0;
    top: 200px;
    width: 14%;
    height: 35vh;
    z-index: -1;
}

nav ul li:nth-child(4):hover .l5{
    opacity: 1;
    top: 80px;
    z-index: 1;
}

.icons{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10%;
    align-content: center;
    justify-content: space-between;
    justify-items: center;
}

.icons i{
    background-color: #FF3271;
    padding: 10px 10px; 
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    transition: all 0.5s;
}

.icons i:hover{cursor: pointer;transform: rotate(360deg);transition-duration: 0.5s;}

.p1{
    height: 80vh;
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
}

.text{
    height: 25vh;
    width: 50%;
    text-align: center;
    display: grid;
    align-content: space-around;
    justify-content: center;
    position: relative;
}

.text p{
    color: #626262;
    font-size: 1.09rem;
    z-index: 1;
}

.text h1{
    font-weight: bold;
    font-size: 3rem;
    color: #333333;
    z-index: 1;
}

.five{
    position: absolute;
    height: 18vh;
    margin-left: 5%;
    margin-top: 0.5%;
    animation-name: go;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

@keyframes go
{
    50%{transform: translateX(500px);}
    100%{transform: translateX(-30px);}
}

.three{
    position: absolute;
    height: 7vh;
    margin-left: 75%;
    animation-name: went;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
}

@keyframes went
{
    50%{transform: translateX(-500px);}
    100%{transform: translateX(-30px);}
}

.part-1{
    position: absolute;
    top: 50%;
    left: 5%;
}

.part-2{
    position: absolute;
    top: 70%;
    left: 65%;
}

.p2{
    display: grid;
    grid-template-columns: repeat(4,23%);
    grid-template-rows: repeat(5,58.5vh);
    grid-column-gap: 2%;
    grid-row-gap: 10px;
    justify-content: space-around;
}

.pic{
    display: grid;
    align-content: space-around;
    justify-items: center;
    text-align: center;
    transition: all 0.5s;
    overflow: hidden;
}

.pic img{
    height: 80%;
    width: 100%;
    transition: all 0.5s;
}

.pic:hover img{
    transform: scale(1.05) rotate(2deg);
    transition: all 0.5s;
}

.pic h4{
    color: #333333;
    font-weight: bold;
    font-size: 1.3rem;
    transition: all 0.5s;
}

.pic:hover h4{
    color: #FF3271;
    cursor: pointer;
    transition: all 0.5s;
}

.pic h4:hover span{
    border-bottom: 2px solid #FF3271;
    cursor: pointer;
}

.pic p{
    color: #8a8989;
    transition: all 0.5s;
}

.opacity{
    height: 49%;
    width: 22.9%;
    background-color: rgba(46, 45, 45, 0.5);
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
}

.opacity:hover{
    opacity: 1;
    z-index: 1;
    transition: all 0.5s;
}

.p3{
    height: 100vh;
    background-color: #FFF0DE;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-evenly;
    text-align: center;
}

.p3 img{
    height: 150px;
    border-radius: 50%;
}

.p3 h3{
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 30px;
}

.p3 p{
    width: 100%;
    font-size: 1.3rem;
}

.p3 h3 span{
    font-weight: lighter;
    font-size: 1.3rem;
}

.small{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.footer{
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    height: 50vh;
    width: 100%;
    flex-wrap: wrap;
    line-height: 100px;
    background-color: #F4F9FF;
}

.logo{
    display: flex;
    height: 10vh;
    width: 63%;
    align-items: center;
    justify-content: space-evenly;
}

.logo img{
    height: 5vh;
    width: 30%;
}

.footer p{
    font-size: 1.3rem;
    width: 100%;
    text-align: center;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon i{
    background-color: #FF3271;
    padding: 10px 10px; 
    border-radius: 100%;
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    transition: all 0.5s;
}

.icon i:hover{cursor: pointer;transform: rotate(360deg);transition-duration: 0.5s;}